permissions:
  contents: write # 打开写入权限

name: Windows
# push代码时触发workflow
on: 
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Test Build
    runs-on: windows-latest # 运行平台
    strategy:
      matrix: # 矩阵配置
        qt_ver: [5.15.2] # Qt 版本
        qt_target: [desktop] # 对象平台
        qt_arch: [win64_msvc2019_64] # 编译器
        qt_arch_install: [msvc2019_64]

    # 步骤
    steps:
      # # 缓存
      # - name: cacheQt
      #   id: WindowsCacheQt
      #   uses: actions/cache@v1
      #   with:
      #     path: D:/Qt/${{matrix.qt_ver}}/${{matrix.qt_arch_install}}
      #     key: ${{ runner.os }}-Qt/${{matrix.qt_ver}}/${{matrix.qt_arch}}

      # 安装Qt
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
            version: ${{ matrix.qt_ver }} # 指定 Qt 版本
            host: 'windows'   # 主机系统
            target: ${{ matrix.qt_target }} # 目标平台
            arch: ${{ matrix.qt_arch }} # 架构和编译器
            dir: 'D:/'     # 安装目录
            modules: 'qtscript' # 指定额外的模块

      # 拉取代码
      - uses: actions/checkout@v1

      # 编译代码
      - name: Build eva
        # env : # 指定环境变量
        #   Qt5_DIR: D:/Qt/${{ matrix.qt_ver }}/${{ matrix.qt_arch_install }}/lib/cmake/Qt5
        id: cmake_build
        run: |
          mkdir build
          cd build
          cmake .. -DLLAMA_CUBLAS=OFF -DLLAMA_CLBLAST=OFF -DLLAMA_VULKAN=OFF -DBODY_32BIT=OFF
          cmake --build . --config Release -j 2

      # # 发布
      # - name: Create Release
      #   id: create_release
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: test # tag号
      #     release_name: test # 本次发布名称
      #     draft: false
      #     prerelease: false
      # - name: Upload Release Asset
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: D:\a\eva\eva\build\Release\eva.exe
      #     asset_name: eva_test.exe
      #     asset_content_type: application/x-msdownload
